/* Coolors Exported Palette - coolors.co/1c77c3-ee6352-fdfffc-07020d-cfccd6 */
/*
1: blue;
2: reddish orange;
3: white;
4: black;
5:;
/* HSL */
$color1: hsla(207%, 75%, 44%, 1);
$color2: hsla(7%, 82%, 63%, 1);
$color3: hsla(100%, 100%, 99%, 1);
$color4: hsla(267%, 73%, 3%, 1);
$color5: hsla(258%, 11%, 82%, 1);

/* RGB */
$color1: rgba(28, 119, 195, 1);
$color2: rgba(238, 99, 82, 1);
$color3: rgba(253, 255, 252, 1);
$color4: rgba(7, 2, 13, 1);
$color5: rgba(207, 204, 214, 1);

/* HSL */
$smokyblack: hsla(330%, 43%, 5%, 1);
$deeplemon: hsla(47%, 98%, 55%, 1);
$lust: hsla(4%, 83%, 52%, 1);
$coolgrey: hsla(218%, 17%, 62%, 1);
$antiflashwhite: hsla(197%, 24%, 94%, 1);

/* RGB */
$smokyblack: rgba(20, 8, 14, 1);
$deeplemon: rgba(253, 203, 25, 1);
$lust: rgba(234, 43, 31, 1);
$coolgrey: rgba(141, 153, 174, 1);
$antiflashwhite: rgba(237, 242, 244, 1);