    <!--DONATE SECTION -->
    <div id="donate-section" class="section" >
        <div class="container" >



            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >
                    <h1>How to Help</h1>
                    <h5>
                     To make a monetary donation, click the button below to donate via PayPal.  Your contribution allows us to purchase the items specifically requested by the child life specialists and social workers with whom we partner.
                 </h5>
                 <button id="donate-btn" class="btn btn-default center-block">Donate</button><br>

            </div>


        </div>



    </div>
</div>
<div class="space-top"></div>
<div class="container" >

    <div class="row">

    </div>        
</div>
<div class="container">
    <div class="row">
        
            <div class="col-md-5  col-md-offset-1" >
                <h3>Physical Address</h3>
                <hr />
                <p>
                    90F Glenda Trace No. 429<br />
                    Newnan, GA, 30265<br />                          
                    Email: kim@joeystoybox.net<br />
                </p>

            </div>
            <div class="col-md-5 col-md-offset-1" >

                <h3>Donate</h3>
                <hr />
                <form id="donate-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="ETYQQ3U76BT6C">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
    </div>
</div>
<div class="space-top"></div>
    <!--END DONATE SECTION -->