<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<!-- HEAD SECTION -->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="We are a 501(c) organization dedicated to providing toys and other care items to childhood cancer patients undergoing treatment. Based out of Atlanta, we support metro-area hospitals by delivering items like movies, video games, toys, and gift cards.
">
  <meta name="author" content="Thomas W Doolittle II">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->


        <title>Joey's Toy Box</title>


<!-- You can use open graph tags to customize link previews.
  Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
  <meta property="og:url"           content="http://localhost:3000/" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="Joey's Toy Box" />
  <meta property="og:description"   content="We are a 501(c) organization dedicated to providing toys and other care items to childhood cancer patients undergoing treatment. Based out of Atlanta, we support metro-area hospitals by delivering items like movies, video games, toys, and gift cards.
" />
  <meta property="og:image"         content="http://localhost:3000/img/main_logo.png" />


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84911121-1', 'auto');
  ga('send', 'pageview');

</script>
  <!-- bower:js -->
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="/components/scrolly/public/js/scrolly.js"></script>
  <script src="/components/typed.js/dist/typed.min.js"></script>
  <!-- endbower -->
  <script src="js/bcSwipe-master/jquery.bcSwipe.min.js"></script>
  <script>
    $(function(){

      $("#typed").typed({
        stringsElement: $('#typed-strings'),
        typeSpeed: 30,
        backDelay: 500,
        loop: false,
            contentType: 'html', // or text
            // defaults to false for infinite loop
            loopCount: false,
            callback: function(){ $(".typed-cursor").css("color", "transparent"); },
            resetCallback: function() { newTyped(); }
          });

      $(".reset").click(function(){
        $("#typed").typed('reset');
      });

    });

  function newTyped(){ /* A new typed object */ }
</script>

<!--BOOTSTRAP MAIN STYLES -->
<link href="/css/bootstrap.css" rel="stylesheet" />
<!--FONTAWESOME MAIN STYLE -->
<link href="/css/font-awesome.min.css" rel="stylesheet" />
<!--CUSTOM STYLE -->
<link href="/css/style.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->


    </head>
    <!--END HEAD SECTION -->

    <body>   
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=681330212030768";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

      <script>
        function aload(t){"use strict";var e="data-aload";return t=t||window.document.querySelectorAll("["+e+"]"),void 0===t.length&&(t=[t]),[].forEach.call(t,function(t){t["LINK"!==t.tagName?"src":"href"]=t.getAttribute(e),t.removeAttribute(e)}),t}
      </script>

      <script>
        $(document).ready(function() {
          var _ = function (obj) {
    if (obj instanceof _) return obj;
    if (!(this instanceof _)) return new _(obj);
    this._wrapped = obj;
  };
          $('#myCarousel').carousel();
          $('.carousel').bcSwipe({ threshold: 50 });
          var sectionBackground = ["about_background.jpg","books.jpg","sunshine.jpg",];

          $(".jtb-separator").each(function(index) {
            $(this).css("background-image","url(img/" + sectionBackground[index % sectionBackground.length] + ")");
          });
          
          $("#donate-btn").click(function() { 
            $('#donate-form').submit(); 
          });

          aload();  

          $('#main-logo').fadeIn(3000, function() {
          }).removeClass('hidden');

          $('.news-item').each(function(index, data) {
            if (index > 4) {
              $(this).addClass('collapse');
            }
          });

          $('#more-news').click(function() {
            var i = 0;
            $.each($('.news-item'), function(index, data) {
              if ($(this).hasClass('collapse') 
                && !$(this).hasClass('in') && i < 4)  {
        $(this).collapse('toggle');
        $(this).removeClass('collapse');
        ++i;
        if ( i <= 4 && index == $('.news-item').length - 1) {
          $('#show-more-arrow').css('display','none');
          $('#more-news').css('display','none');
        }
      }
    });
          });

          $('.jtb-event').click(function() {
            var description = $(this).find('.collapse');
            description.collapse('toggle');
          });
          $('.collapse').on('hidden.bs.collapse', function() {
            $(this).parent().find('.read-more').text("more..");
          }).on('shown.bs.collapse', function() {
            $(this).parent().find('.read-more').text("less..");
          });

          var width = $('.arrow-down').parent().prev().width();
          var margin = Math.round((5.0 / 12.0) * width);
          var length = Math.round((1.0 / 12.0) * width);
          $('.arrow-down').css("left", margin);
          $('.arrow-down').css("border-left-width", length);
          $('.arrow-down').css("border-right-width", length);
        });

        

      </script>

          <!-- NAV SECTION -->
    <div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand jtb-logo" href="#">Joey's Toy Box</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#header-section">HOME</a></li>
                    <li><a href="#news-section">NEWS</a></li>
                    <li><a href="#mission-section">ABOUT</a></li>
                    <li><a href="#donate-section" style="color: rgba(253, 203, 25, 1);">DONATE</a></li>
                </ul>
            </div>
           
        </div>
    </div>
    </div>
     <!--END NAV SECTION -->

          <!-- HEADER SECTION -->
    <div id="header-section" >
      <div class="main-top-margin">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div id="main-logo" class="text-center hidden">
                    <img src="/img/main_logo.png" />
                    <!--<i class="fa fa-briefcase main-icon"></i>-->
                </div>
                <div class="text-center">
                    <div class="head-line">
                        <div id="typed-strings">
                            <p>Comfort &amp; Support</p>
                        </div>
                        <span id="typed"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="center-block" src="img/group_cropped.jpg" alt="Childhood cancer awareness">
                <div class="carousel-caption"><strong>JTB partnered with 23 other organizations to have September recognized as Childhood Cancer Awareness month in Georgia.</strong> Read more about it <a target="_blank" href="https://www.georgiacancerinfo.org/cancer-news/georgia/governor-deal-proclaims-september-as-childhood-awa/471">here.</a></div>
            </div>
            <div class="item">
                <img class="center-block" src="img/cancer_center_joey.jpg" alt="Joey at the cancer center">
                <div class="carousel-caption">
                Joey's Toy Box has been featured in various news articles and other media. JTB was featured in an  ice.gov article <a target="_blank" href="https://www.ice.gov/news/releases/us-immigration-and-customs-enforcement-senior-special-agent-thomas-doolittle-continues">here</a>, and in the Newnan Times-Herald <a target="_blank"href="http://times-herald.com/news/2016/04/joeys-toy-box-to-hold-spring-brunch-april-30">here</a>.
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</div>
</div>

          <!--END HEADER SECTION -->

       <!-- ABOUT SECTION -->
      <div id="about-section" class="section" >
        <div class="container" >
          
               
            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >
					<div class="about-text">
                    <h1>Our Mission</h1>
                    <h5>
                       We are a 501(c) organization dedicated to providing toys and 
                       other care items to childhood cancer patients undergoing treatment.
                       Based out of Atlanta, we support metro-area hospitals by delivering
                       items like movies, video games, toys, and gift cards.
                       <br><br>
                       <strong>100% of all donations</strong> go directly into supporting families confronted
                       by childhood illness.  
                    </h5>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>

    <div class="container"  >
        <div class="row main-low-margin text-center" >
                <div class="col-md-4 col-sm-4" >
                    <i class="fa fa-heart-o fa-5x"></i>
                    <h3>Compassion</h3>
                    <p>
                        We work with families, hospitals and other charitable organizations to provide toys to kids undergoing intensive medical treatments. We know the positive impact simple comforts can make in tough times.
                    </p>
                </div>               
                    <div class="col-md-4 col-sm-4" >
                    <i class="fa fa-gift fa-5x "></i>
                    <h3>Charity</h3>
                    <p>
                        Donations go directly to items like toys, movies, and video games for pediatric oncology centers to give to patients. We also give out things like gift cards and vouchers for entertainment and family outings. 
                    </p>
                </div>
                <div class="col-md-4 col-sm-4" >
                    <i class="fa fa-thumbs-up fa-5x"></i>
                    <h3>Community</h3>
                    <p>
                        We hold motorcycle rides, brunches, auctions, and other events each year. Everything we do comes with the help and support of local businesses and community organizations that we appreciate so much.
                    </p>
                </div>
            </div>
    </div>
    <!-- <div class="space-bottom"></div> -->
        <!--END ABOUT SECTION -->

      <!--PARALLAX SECTION -->
      <section class="story-freext">
        <div class="parallax jtb-separator" data-velocity="-.5" ></div>
      </section>
      <!-- END PARALLAX SECTION -->

      <!-- NEWS & EVENTS SECTION -->
      <div id="news-section" class="section" >

        <div class="container">
          <div class="row main-low-margin">
            <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >
              <div class="about-text">
                <h1>News &amp; Events</h1>
                <div class="fb-like" data-href="https://www.facebook.com/Joeys-Toy-Box-205674119456461/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true" data-colorscheme="dark"></div>
                <h3>
                  Events
                </h3>
              

                
                  <div class="jtb-event container">
                  <div class="row event-row">
                    <div class="col-sm-1">
                    <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-0/c13.0.50.50/p50x50/14358775_1281948581829004_6973009127008708699_n.jpg?oh=1f23943d656d4662512f3e286500471d&amp;oe=586E3974" class="img-responsive"/>
                    </div>
                    <div class="col-md-6">
                      <b>JTB Spirit Night</b><br>
                      When: Thu Sep 29 2016 @ 4:00 pm<br>
                      Where: Uncle Maddio&#39;s Pizza, 371 Newnan Crossing Byp, Ste 102 Newnan,GA
                      30263<br>
                      
                      <div class="collapse">
                        Please join us on Thursday, September 29, 2016 from 5-8:30 PM for the Joey&#39;s Toy Box Spirit Night in honor of Childhood Cancer Awareness Month.  

Our mission at Joey&#39;s Toy Box is to provide comfort and support to the children and families engaged in the battle of Pediatric Cancer.  We accomplish this mission by providing toys, games, gaming systems, DVD&#39;s, DVD players, infant/toddler toys, arts, crafts and any other item the Child Life Specialists request.<br>
                        <a target="_blank" href="https://www.facebook.com/events/1171229959602916">facebook.com/events/1171229959602916</a>
                      </div>
                      <div class="read-more"><i>more..</i></div>
                    </div>
                    </div>
                  </div>
                  <hr>
                
                  <div class="jtb-event container">
                  <div class="row event-row">
                    <div class="col-sm-1">
                    <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-0/c8.0.50.50/p50x50/14333756_1281970321826830_8957920440420056404_n.jpg?oh=f10e6939196c0ba53763af106c4aaa94&amp;oe=58AA9FF4" class="img-responsive"/>
                    </div>
                    <div class="col-md-6">
                      <b>Joey&#39;s Ride ~ 9th Annual</b><br>
                      When: Sat Sep 24 2016 @ 9:00 am<br>
                      Where: Big Daddy&#39;s Oyster Bar &amp; Pub, 101 Crossings E Peachtree City,GA
                      30269<br>
                      
                      <div class="collapse">
                        Joey&#39;s Ride is a fully escorted motorcycle ride through the streets of Fayette County, GA.  

Registration Begins: 10:00 AM
Kick Stands Up:  12:00 PM (Noon)
Rider Donation:  $25 includes t-shirt

We will have live auctions, silent auctions and raffles. 

We will also be raffling off a Medium Sized Big Green Egg, *Glock (or $350 in Cash)  and an *AR Rifle (Restrictions apply for the Glock and AR Rifle&#39;s)  - you do not have to be present to win!<br>
                        <a target="_blank" href="https://www.facebook.com/events/1089651491117665">facebook.com/events/1089651491117665</a>
                      </div>
                      <div class="read-more"><i>more..</i></div>
                    </div>
                    </div>
                  </div>
                  <hr>
                
                  <div class="jtb-event container">
                  <div class="row event-row">
                    <div class="col-sm-1">
                    <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-0/q85/c20.0.50.50/p50x50/12376361_1155193134504550_4649369354113935228_n.jpg?oh=466e027ddaf50112cb23118efe0ad2af&amp;oe=58A53D89" class="img-responsive"/>
                    </div>
                    <div class="col-md-6">
                      <b>Joey&#39;s Toy Box Spring Brunch</b><br>
                      When: Sat Apr 30 2016 @ 8:00 am<br>
                      Where: The Inn At Serenbe, 10950 Hutcheson Ferry Rd Palmetto,GA
                      30268<br>
                      
                      <div class="collapse">
                        Please join us on Saturday, April, 30th for the 4th Annual Spring Brunch.

This year we are pleased to have Corby Winters as our Master of Ceremonies.  Corby is a Christian Women&#39;s Speaker, Master Certified Christian Life Coach, Writer, Teacher, Director of Children&#39;s Ministries at Cornerstone UMC, Chaplin for the Miss Oklahoma,Wife, and Mother.  

We will have the honor of having Monique Guerrero as one of our guest speakers.  Monique&#39;s daughter, Bella, is a Pediatric Cancer Survivor.

We will also have the honor of having Miss Madison McLemore sing.  Miss Madison is currently engaged in the battle of Pediatric Cancer.

There will be awesome food as this event will be catered by Serenbe.  Tasty Desserts, Raffles, A Silent Auction, Great Fellowship, Laughter and even some Tears (Hopefully some tears of laughter too)

Tickets are $35 and may be purchased for $35 (plus a small processing fee) online at brownpapertickets.com or you may see Kim, Shirley, Joyce or Susanne to purchase tickets direct.

If you have any questions, please call Kim at 770-490-1641<br>
                        <a target="_blank" href="https://www.facebook.com/events/1231545726873348">facebook.com/events/1231545726873348</a>
                      </div>
                      <div class="read-more"><i>more..</i></div>
                    </div>
                    </div>
                  </div>
                  <hr>
                


                <h3>
                  Recent news
                </h3>
              </div>
                
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Fri Oct 07 2016 @ 10:49 am</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   
                   <div class="about-text">
                    Joey's Toy Box would like to thank Atul Khasnis for his generous donation of these beautiful photo prints. This is just a small sampling of the beautiful prints Atul generously donated. Each and every one of these prints were taken in Peachtree City, Georgia.

These prints will be available at the Joey's Toy Box Art Show on Thursday, October 20th at the Newnan Train Depot 6-10 P.M. There will be other Art, Paintings and Woodworking available. All proceeds benefit Joey's Toy Box.
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Wed Oct 05 2016 @ 1:53 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/14522760_1300154916675037_8917821762563008823_n.jpg?oh=b073fb8126d0c95d4ea37cc272e8ac1e&oe=586EEA97" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    Joey's Toy Box would like to thank the U.S. Customs and Border Protection for inviting us to their Combined Federal Campaign today.

We enjoyed talking to the men and women who have dedicated their lives to the service of our country.
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Tue Oct 04 2016 @ 7:42 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/14522742_1292813384075857_6595807252922289061_n.jpg?oh=c9cdeda4c38f04fc89a61e39638a4f50&oe=58AA22BA" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    Come out and enjoy our first Art Show on 10/20 from 6-10.  If your an artist or crafter and would like to donate a piece to be auctioned off at our show please contact me at 678-525-2546.  Your donation will be tax deductible.
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Tue Oct 04 2016 @ 12:04 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-1/14022102_836446499823444_4307937792463703346_n.png?oh=2aa83e9cc01a3beb0a54da6cc53e2678&oe=5867FA38" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    If you are looking to buy a new mattress, check out Mattress By Appointment South Atlanta.  It is a brand new business in Newnan and I am happy to say that Joey's Toy Box was their very first customer.

You will find great prices and friendly people.  When they discovered that we were purchasing a bed for one of our Joey's Toy Box kids, they went above and beyond to help us. 

On their very first sale of their brand new business they basically made no money.  How cool is that!!!  

Thank You Mattress By Appointment South Atlanta for your generosity!!!
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Tue Oct 04 2016 @ 11:48 am</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-1/14022102_836446499823444_4307937792463703346_n.png?oh=2aa83e9cc01a3beb0a54da6cc53e2678&oe=5867FA38" class="img-responsive center-block news-img"/>
                   
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Mon Oct 03 2016 @ 1:48 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/p720x720/14572863_1298296703527525_2477426406062657149_n.jpg?oh=400ac542bb160e82259aff9c14c0f146&oe=58A34811" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    Joey's Toy Box is SO EXCITED, we just ordered this bed for a special young man, can't wait until its delivered!!!
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Fri Sep 30 2016 @ 12:43 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/14522900_10154165746287881_6360955259865129419_n.jpg?oh=6b8160c5e566ff978220f61af4e88315&oe=589FB0CA" class="img-responsive center-block news-img"/>
                   
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Thu Sep 29 2016 @ 8:54 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-1/14344357_1209695459072156_3076763277548799222_n.jpg?oh=6282f7eb91d05fd64685b508c694d480&oe=58A44869" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    A huge Thank You to Uncle Maddio's Pizza for hosting Joey's Toy Box Spirit Night this evening. 

Thank you to everyone who came out for some amazing pizza.  

If you haven't tried Uncle Maddio's, swing by one day, you will be glad you did!
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Thu Sep 29 2016 @ 4:27 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   
                   <div class="about-text">
                    Just dropped off 16 Halloween Costumes and party supplies at the Grady Pediatric Burn Unit.  

Some of our kids don't get to go home to trick or treat, so we bring the party to them.
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Thu Sep 29 2016 @ 2:59 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/14484650_1228753987166303_8048540562521556994_n.jpg?oh=906757f3c2101344eda3441ae1d80b62&oe=589D0849" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    Hope to see everyone tonight!!! Come enjoy some awesome pizza for an awesome cause!
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Tue Sep 27 2016 @ 8:25 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/c120.0.480.480/14358775_1281948581829004_6973009127008708699_n.jpg?oh=ebf4168c16739a507c3ebfa6ff824eda&oe=5861D225" class="img-responsive center-block news-img"/>
                   
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Tue Sep 27 2016 @ 8:25 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/14522742_1292813384075857_6595807252922289061_n.jpg?oh=c9cdeda4c38f04fc89a61e39638a4f50&oe=58AA22BA" class="img-responsive center-block news-img"/>
                   
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Tue Sep 27 2016 @ 11:58 am</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/14522742_1292813384075857_6595807252922289061_n.jpg?oh=c9cdeda4c38f04fc89a61e39638a4f50&oe=58AA22BA" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    After having one of our best ever Joey's Ride it is time for our next event. We are seeking donations for our first Art Show! Please check us out and come join the fun!
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Mon Sep 26 2016 @ 7:13 am</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/c120.0.480.480/14358775_1281948581829004_6973009127008708699_n.jpg?oh=ebf4168c16739a507c3ebfa6ff824eda&oe=5861D225" class="img-responsive center-block news-img"/>
                   
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Thu Sep 22 2016 @ 4:34 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/p720x720/14370043_1288718227818706_2600917872905768382_n.jpg?oh=f4df1e0d50263ab7911414ee74ff28ae&oe=589F04E0" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    Thank you Pam Lyons for the donation of a beautiful Yankee Candle Autumn Wreath basket for our silent auction.
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Thu Sep 22 2016 @ 1:38 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   
                   <div class="about-text">
                    Joey's Toy Box would like to ask for prayers for safe travels to all of our  Riders, Friends and Family traveling today and tomorrow to attend Joey's Ride.  These amazing people are traveling in from Texas, Florida and Alabama.
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Thu Sep 22 2016 @ 11:12 am</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/14358819_1288508887839640_280782478436313965_n.jpg?oh=80392a542f5151dad2bebe2191157fa5&oe=586CDBE5" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    Joey's Ride is this Saturday!!
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Wed Sep 21 2016 @ 4:22 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/13509079_1284083998286975_2435746935284837040_n.png?oh=07bdb7a85555afe3b7c3359c73f138bd&oe=58704D99" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    We couldn't do this without your support!
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Tue Sep 20 2016 @ 7:49 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/c101.0.399.399/14079954_10154593310141042_5973624264281972667_n.jpg?oh=75568b91a2aa53e777fb17fa0732bbc5&oe=5863A9FF" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    It's a busy week for Joey's Toy Box!

We are so excited to be joining 24 Organizations to Stand United with Governor Deal in the Fight Against Childhood Cancer!

www.facebook.com/events/1779787572300282/
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Tue Sep 20 2016 @ 4:49 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/14441198_1287085101315352_5560889933387129751_n.jpg?oh=3ad3771fe0f45bc0b21b3c4eef96c408&oe=586455EC" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    Joey's Toy Box would like to thank Great South Harley-Davidson for their donation!

Sometime after Joey's Ride, head on over to Great South Harley-Davidson and check out their open house, they are open until 7.
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Tue Sep 20 2016 @ 2:19 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-0/p480x480/14355139_1286974967993032_6459454505484688008_n.jpg?oh=292d4fb2ed34a9abb629f018da72935f&oe=58AA6EED" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    The 9th Annual Joey's Ride t-shirts have arrived!! Thank You to our many Sponsors!!! Look forward to seeing you Saturday!
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Sat Sep 17 2016 @ 4:06 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/s720x720/14317568_1284526348237894_341336234569457352_n.jpg?oh=f5a74d16fc9129d97adb99b5ba684a36&oe=5861E5C2" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    These Cornhole Boards and bags will go to the highest bidder during the Joey's Ride live auction on Saturday, September 24. Thank you Jeff and Paula Vickers for your generous donation!!
                  </div>
                  
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Sat Sep 17 2016 @ 9:19 am</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-9/c120.0.720.720/14333756_1281970321826830_8957920440420056404_n.jpg?oh=87c3051b2a9f2d6354169b6cc1ac9569&oe=58608327" class="img-responsive center-block news-img"/>
                   
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Thu Sep 15 2016 @ 2:59 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://external.xx.fbcdn.net/safe_image.php?d=AQBA_Ymn6ekMowsq&w=720&h=720&url=https%3A%2F%2Fwww.ice.gov%2Fsites%2Fdefault%2Ffiles%2Fimages%2Fnews%2F2015%2FJoey.jpg&cfs=1&sx=707&sy=0&sw=2592&sh=2592" class="img-responsive center-block news-img"/>
                   
                </div>
              </div>
              
                <div class="row news-item">
                <div class="container"><span class="date">Posted on Thu Sep 15 2016 @ 2:39 pm</span></div>
                  <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                   

                   <img data-aload="https://scontent.xx.fbcdn.net/v/t1.0-1/c81.0.275.275/418333_10149999285994467_1920585607_n.png?oh=7d7b5c1207bd78754c00a07fb8c73981&oe=5871E2CE" class="img-responsive center-block news-img"/>
                   
                   <div class="about-text">
                    Joey's Toy Box would like to thank the United States Postal Service Atlanta for inviting us to their Combined Federal Campaign today. 

I have to say that every employee we met had a smile on their face and said good morning, even the ones who were just getting off a long night shift.  That was really nice to witness!

If you are a Federal Employee, the Combined Federal Campaign has kicked off.  If you would like to donate to Joey's Toy Box via payroll deduction, we are located in the "local charities" section of the book.  Our 5 digit code is 64710
                  </div>
                  
                </div>
              </div>
              
          </div>
        </div>
      </div>


    </div>
    <div class="space-top section text-center"><span id="more-news"><b>More</b></span></div>

    <div class="container" id="show-more-arrow">
      <div class="arrow-down"></div>
    </div>

    <!-- END NEWS & EVENTS SECTION -->
    <!--PARALLAX SECTION -->
    <section class="story-freext">
      <div class="parallax jtb-separator" data-velocity="-.5" ></div>
    </section>
    <!-- END PARALLAX SECTION -->

    <div id="mission-section" class="section" >
      <div class="container" >
        <div class="row main-low-margin">
          <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >


            <img src="img/joey.jpg" class="img-responsive center-block" style="max-height: 500px" />
            <div class="about-text">
              <h1>About us</h1>
              <h5>
               <p>JTB was founded by our son, Joey Doolittle.  Joey was a lifelong cancer warrior who was diagnosed with Rhabdomyosarcoma at only 3 months of age.  Throughout Joey's life, he underwent numerous chemotherapy protocols, surgeries, and radiation treatments.  Toys provided by the hospitals always seemed to make his treatments a little more bearable.  During the twilight of Joey's young life, when he was the sickest, he decided to conduct a fundraiser to raise money to buy the other kids at the hospital toys.  On June 7, 2008, Joey raised $1,800 by organizing a "cycle-a-thon" at a local gym in Peachtree City, GA.  A few days later, Joey made his first and only delivery of toys to the AFLAC Children's Cancer Center at Scottish Rite hospital in Atlanta.  On July 4, 2008, after a lifetime battle against cancer, Joey peacefully passed away in his mother's arms.</p>
               <p> 
Joey's impact on his family, friends, and other childhood cancer patients continues to evolve and flourish.  His simple dream of helping the other kids and their families continues to live on because of the incredible community of volunteers that have felt Joey in their hearts.  With no paid employees, we are a 100% volunteer army dedicated to the JTB mission.  We operate this way so that we can put every dollar towards helping these kids and their families.  We have dedicated ourselves to being good stewards of the money, time, and efforts of our volunteer community.  We will continue Joey's mission with the compassion and integrity that he had when he started it... simple as that.
               </p>
           </div>
         </div>
       </div>
     </div>
   </div>

   <!--PARALLAX SECTION -->
   <section class="story-freext">
    <div class="parallax jtb-separator" data-velocity="-.5" ></div>
  </section>
  <!-- END PARALLAX SECTION -->


      <!--DONATE SECTION -->
    <div id="donate-section" class="section" >
        <div class="container" >

            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >
                    <h1>How to Help</h1>
                    <h5>
                     To make a monetary donation, click the button below to donate via PayPal.  Your contribution allows us to purchase the items specifically requested by the child life specialists and social workers with whom we partner.
                 </h5>
                 <button id="donate-btn" class="btn btn-default center-block">Donate</button><br>
            </div>


        </div>



    </div>
</div>
<div class="space-top"></div>
<div class="container" >
    </div>        
    <div class="row space-top">
        <div class="col-md-12  col-sm-12 ">
            <div class="row">
            <div class="col-md-6  col-sm-12" >
                <h3>Physical Address</h3>
                <hr />
                <p>
                    90F Glenda Trace No. 429<br />
                    Newnan, GA, 30265<br />                          
                    Email: kim@joeystoybox.net<br />
                </p>

            </div>
            <div class="col-md-6  col-sm-12" >

                <h3>Donate</h3>
                <hr />
                <form id="donate-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="ETYQQ3U76BT6C">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="space-top"></div>
    <!--END DONATE SECTION --> 

        <!--FOOTER SECTION -->
    
      <div class="row text-center"  id="footer" >
               
                      <a target="_blank" href="https://www.facebook.com/Joeys-Toy-Box-205674119456461/"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/joeystoybox"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
          <br /><br />
         2016 www.joeystoybox.net | All Right Reserved
         
            </div>
    
    <!--END FOOTER SECTION --> 
    
</body>
</html>
