      <!--FOOTER SECTION-->
    
      <div class="text-center section"  id="footer" >
               
                      <a target="_blank" href="https://www.facebook.com/Joeys-Toy-Box-205674119456461/"><i class="fa fa-facebook-square fa-3x color-facebook"></i></a>
                        <a target="_blank" href="https://twitter.com/joeystoybox"><i class="fa fa-twitter-square fa-3x color-twitter"></i></a>
          <br /><br />
         2023 www.joeystoybox.net | All Right Reserved
         
            </div>
    
    <!-- END FOOTER SECTION --> 
    
</body>
</html>