    <!-- HEADER SECTION -->
    <div id="header-section" >
      <div class="main-top-margin">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <div id="main-logo" class="text-center hidden">
                    <img src="/img/main_logo.png" />
                    <!--<i class="fa fa-briefcase main-icon"></i>-->
                </div>
                <div class="text-center">
                    <div class="head-line">
                        <div id="typed-strings">
                            <p>Comfort &amp; Support</p>
                        </div>
                        <span id="typed"></span>
                    </div>
                </div>
            </div>
            <div class="item">
                <img class="center-block" src="img/group_cropped.jpg" alt="Childhood cancer awareness">
                <div class="carousel-caption"><strong>JTB partnered with 23 other organizations to have September recognized as Childhood Cancer Awareness month in Georgia.</strong> Read more about it <a target="_blank" href="https://www.georgiacancerinfo.org/cancer-news/georgia/governor-deal-proclaims-september-as-childhood-awa/471">here.</a></div>
            </div>
            <div class="item">
                <img class="center-block" src="img/cancer_center_joey.jpg" alt="Joey at the cancer center">
                <div class="carousel-caption">
                Joey's Toy Box has been featured in various news articles and other media. JTB was featured in an  ice.gov article <a target="_blank" href="https://www.ice.gov/news/releases/us-immigration-and-customs-enforcement-senior-special-agent-thomas-doolittle-continues">here</a>, and in the Newnan Times-Herald <a target="_blank"href="http://times-herald.com/news/2016/04/joeys-toy-box-to-hold-spring-brunch-april-30">here</a>.
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
</div>
</div>

          <!--END HEADER SECTION -->