 <!-- ABOUT SECTION -->
      <div id="about-section" class="section" >
        <div class="container" >
          
               
            <div class="row main-low-margin">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" >
					<div class="about-text">
                    <h1>Our Mission</h1>
                    <h5>
                       We are a 501(c) organization dedicated to providing toys and 
                       other care items to childhood cancer patients undergoing treatment.
                       Based out of Atlanta, we support metro-area hospitals by delivering
                       items like movies, video games, toys, and gift cards.
                       <br><br>
                       <strong>100% of all donations</strong> go directly into supporting families confronted
                       by childhood illness.  
                    </h5>
                    </div>
                </div>
            </div>
           
            
        </div>
    </div>

    <div class="container"  >
        <div class="row main-low-margin text-center" >
                <div class="col-md-4 col-sm-4" >
                    <i class="fa fa-heart-o fa-5x"></i>
                    <h3>Compassion</h3>
                    <p>
                        We work with families, hospitals and other charitable organizations to provide toys to kids undergoing intensive medical treatments. We know the positive impact simple comforts can make in tough times.
                    </p>
                </div>               
                    <div class="col-md-4 col-sm-4" >
                    <i class="fa fa-gift fa-5x "></i>
                    <h3>Charity</h3>
                    <p>
                        Donations go directly to items like toys, movies, and video games for pediatric oncology centers to give to patients. We also give out things like gift cards and vouchers for entertainment and family outings. 
                    </p>
                </div>
                <div class="col-md-4 col-sm-4" >
                    <i class="fa fa-thumbs-up fa-5x"></i>
                    <h3>Community</h3>
                    <p>
                        We hold motorcycle rides, brunches, auctions, and other events each year. Everything we do comes with the help and support of local businesses and community organizations that we appreciate so much.
                    </p>
                </div>
            </div>
    </div>
    <!-- <div class="space-bottom"></div> -->
        <!--END ABOUT SECTION -->