    <!-- NAV SECTION -->
    <div class="container-fluid">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand jtb-logo" href="#">Joey's Toy Box</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#header-section">HOME</a></li>
                    <!--<li><a href="#news-section">NEWS</a></li>-->
                    <li><a href="#mission-section">ABOUT</a></li>
                    <li><a href="#donate-section" style="color: rgba(253, 203, 25, 1);">DONATE</a></li>
                </ul>
            </div>
           
        </div>
    </div>
    </div>
     <!--END NAV SECTION -->