.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;

}

.gradient-background {
  background: -webkit-gradient(linear, left top , right bottom, 
  color-stop(0%,#fff), 
  color-stop(40%,#53cbf1), color-stop(100%,#05abe0));
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* To make sure the container takes up the full height of the parent */
}

.slogan {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin: 20px;
}

.slogan::before,
.slogan::after {
  content: '"';
  color: #999;
}

.slogan::before {
  margin-right: 5px;
}

.slogan::after {
  margin-left: 5px;
}
